#map {
  width: 100%;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--box-shadow);
}

h4 {
  color: var(--h4-color);
  font-size: 1em;
  font-weight: 500;
}

h4:hover {
  color: var(--h4-hover-color);
}

#item-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 5;
  padding: 15px;
}

.leaflet-touch 
.leaflet-bar a {
  background-color: var(--leaflet-bar_touch-background-color);
}

.leaflet-touch 
.leaflet-bar a span {
  color: var(--white);
}

.leaflet-touch 
.leaflet-bar a:hover {
  background-color: var(--leaflet-bar_touch-background-color-hover);
}

.leaflet-bar {
  background-color: var(--leaflet-bar-background-color);
}

.leaflet-container .leaflet-popup-close-button a:hover {
  color: #f07876;
}