:root {
    --body-color: rgb(3,15,132);
    --body-color-primary: rgba(3,15,132,1);
    --body-color-secondary: rgba(0,166,255,1);
    --white: #fff;
    --footer-color: #012949;
    --header-background: rgba(255,255,255,0.16);
    --header-border-bottom: rgba(255,255,255,0.25);
    --box-shadow: rgba(0, 0, 0, 0.1);
    --card-background: #3881e1;
    --card-border: #ccc;
    --h3-color: #012949;
    --item-0-ul-li-background-color: #e9ecef;
    --item-0-ul-li-border: #ccc;
    --item-0-ul-li-hover-background-color: #35A4FB;
    --item-0-ul-li-hover-border: #004970;
    --item-0-ul-li-selected-background-color: #035CA3;
    --item-0-ul-li-selected-border: #004970;
    --h4-color: #0476D0;
    --h4-hover-color: #024376;
    --leaflet-bar_touch-background-color: #aa0e0b;
    --leaflet-bar_touch-background-color-hover: #f07876;
    --leaflet-bar-background-color: #006494;
}